<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.wangyulong.campuspass">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="21"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.RegisterActivity"/>
        <activity
            android:name=".Activity.BuyingActivity"
            android:parentActivityName=".Activity.EasyGetActivity"/>
        <activity
            android:name=".Activity.MainMenuActivity"
            android:theme="@style/Widget.AppCompat.ActionBar.Solid"/>
        <activity
            android:name=".Activity.EasyGetActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Activity.BuyingItemDetailedActivity">
        </activity>
        <activity android:name=".Activity.SellingActivity">
        </activity>
        <activity android:name=".Activity.UpdateInfoActivity">
        </activity>
        <activity android:name=".Activity.RequestActivity">
        </activity>
        <activity android:name=".Activity.NewRequestActivity">
        </activity>
        <activity android:name=".Activity.MyRequestActivity">
        </activity>
        <activity android:name=".Activity.RequestDetailActivity">
        </activity>
        <activity
            android:name=".Activity.EasyEarnActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Activity.ParticipateHobbyActivity">
        </activity>
        <activity android:name=".Activity.HobbyBriefActivity">
        </activity>
        <activity android:name=".Activity.DetailHobbyActivity">
        </activity>
    </application>

</manifest>